@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(229, 229, 229);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(134, 134, 134);
  border-radius: 14px;
  border: 1px solid rgb(100, 100, 100);
}

.language-js {
  height: calc(100vh - 220px);
  border-radius: 1rem;
  font-size: 14px !important;
}